<robot name="spherical_robot">
  
  <link name="frame" />

  <link name="rw_back_link" />
  <link name="rw_right_link" />
  <link name="rw_front_link" />
  <link name="rw_left_link" />
  <link name="rw_yaw_link" />
  <link name="motor_joint_1_link" />
  <link name="motor_joint_2_link" />
  <link name="outer_link" />
  <link name="camera_left_link" />
  <link name="camera_left_optical_frame" />
  <link name="camera_right_link" />
  <link name="camera_right_optical_frame" />

  <joint name="rw_back" type="continuous">
    <parent link="frame" />
    <child link="rw_back_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="rw_right" type="continuous">
    <parent link="frame" />
    <child link="rw_right_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="rw_front" type="continuous">
    <parent link="frame" />
    <child link="rw_front_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="rw_left" type="continuous">
    <parent link="frame" />
    <child link="rw_left_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="rw_yaw" type="continuous">
    <parent link="frame" />
    <child link="rw_yaw_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="motor_joint_1" type="continuous">
    <parent link="frame" />
    <child link="motor_joint_1_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="motor_joint_2" type="continuous">
    <parent link="frame" />
    <child link="motor_joint_2_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="outer_2" type="continuous">
    <parent link="frame" />
    <child link="outer_link" />
    <axis xyz="0 0 1" />
  </joint>

  <joint name="camera_left_joint" type="fixed">
    <parent link="frame" />
    <child link="camera_left_link" />
    <origin xyz="0.19 -0.21 0.0" rpy="3.14159 0 -0.0872665" />
  </joint>

  <joint name="camera_left_optical_joint" type="fixed">
    <parent link="camera_left_link" />
    <child link="camera_left_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
  </joint>

  <joint name="camera_right_joint" type="fixed">
    <parent link="frame" />
    <child link="camera_right_link" />
    <origin xyz="0.19 0.21 0.0" rpy="3.14159 0 0.0872665" />
  </joint>

  <joint name="camera_right_optical_joint" type="fixed">
    <parent link="camera_right_link" />
    <child link="camera_right_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708" />
  </joint>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="rw_back">
      <command_interface name="effort">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="rw_right">
      <command_interface name="effort">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="rw_front">
      <command_interface name="effort">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="rw_left">
      <command_interface name="effort">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="rw_yaw">
      <command_interface name="effort">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="motor_joint_1">
      <command_interface name="velocity">
        <param name="min">-200</param>
        <param name="max">200</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="motor_joint_2">
      <command_interface name="velocity">
        <param name="min">-200</param>
        <param name="max">200</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="outer_2">
      <command_interface name="velocity">
        <param name="min">-250</param>
        <param name="max">250</param>
      </command_interface>
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
</robot>
